on: push

jobs:
  you:
    environment: you
    runs-on: ubuntu-latest
    env:
      YOU_API_KEY: ${{secrets.YOU_API_KEY}}
    steps:
      - uses: actions/checkout@main
      - uses: davidkhala/uv-buildpack@main
        with:
          working-directory: py
          test-entry-point: pytest you_test.py
          tests: py/tests
          extras: you

  api:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [3.12, latest]
        provider: [openrouter, siliconflow]
    environment: ${{matrix.provider}}
    env:
      API_KEY: ${{secrets.API_KEY}}

    steps:
      - uses: actions/checkout@main
      - uses: davidkhala/uv-buildpack@main
        with:
          working-directory: py
          test-entry-point: pytest ${{matrix.provider}}_test.py
          tests: py/tests/api
          extras: api
          version: ${{matrix.version}}

  openrouter:
    runs-on: ubuntu-latest
    environment: openrouter
    strategy:
      matrix:
        version: [ 3.12, latest ]
    env:
      API_KEY: ${{secrets.API_KEY}}
      PROVISIONING_API_KEY: ${{secrets.PROVISIONING_API_KEY}}
    steps:
      - uses: actions/checkout@main
      - uses: davidkhala/uv-buildpack@main
        with:
          working-directory: py
          test-entry-point: pytest openrouter_test.py
          tests: py/tests
          extras: openrouter
          version: ${{matrix.version}}
  azure:
    runs-on: ubuntu-latest
    environment: azure
    strategy:
      matrix:
        version: [ 3.12, latest ]
    env:
      PROJECT: ${{vars.PROJECT}}
      API_KEY: ${{secrets.API_KEY}}
      DEPLOYMENT: ${{vars.DEPLOYMENT}}
      DEPLOYMENT_KEY: ${{secrets.DEPLOYMENT_KEY}}
    steps:
      - uses: actions/checkout@main
      - uses: davidkhala/uv-buildpack@main
        with:
          working-directory: py
          test-entry-point: pytest azure_test.py
          tests: py/tests
          extras: azure
          version: ${{matrix.version}}
  langgraph:
    runs-on: ubuntu-latest
    environment: openrouter
    env:
      API_KEY: ${{secrets.API_KEY}}
    steps:
      - uses: actions/checkout@main
      - uses: davidkhala/uv-buildpack@main
        with:
          working-directory: py
          test-entry-point: pytest langchain_test.py
          tests: py/tests
          extras: langchain
          version: 3.12
  alicloud:
    runs-on: ubuntu-latest
    environment: alicloud
    strategy:
      matrix:
        version: [ 3.12, latest ]
    env:
      API_KEY: ${{secrets.API_KEY}}
      AGENTBAY_API_KEY: ${{secrets.AGENTBAY_API_KEY}}
    steps:
      - uses: actions/checkout@main
      - uses: davidkhala/uv-buildpack@main
        with:
          working-directory: py
          test-entry-point: pytest ali_test.py
          tests: py/tests
          extras: ali
          version: ${{matrix.version}}