on: push

jobs:
  api:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        provider: [openrouter, siliconflow]
    environment: ${{matrix.provider}}
    env:
      API_KEY: ${{secrets.API_KEY}}

    steps:
      - uses: actions/checkout@main
      - uses: davidkhala/uv-buildpack@main
        with:
          working-directory: py
          test-entry-point: pytest ${{matrix.provider}}_test.py
          tests: py/tests/api
          extras: api

  openrouter:
    runs-on: ubuntu-latest
    environment: openrouter
    env:
      API_KEY: ${{secrets.API_KEY}}
      PROVISIONING_API_KEY: ${{secrets.PROVISIONING_API_KEY}}

    steps:
      - uses: actions/checkout@main
      - uses: davidkhala/uv-buildpack@main
        with:
          working-directory: py
          test-entry-point: pytest openrouter_test.py
          tests: py/tests
          extras: openrouter

  azure:
    runs-on: ubuntu-latest
    environment: azure
    env:
      PROJECT: ${{vars.PROJECT}}
      API_KEY: ${{secrets.API_KEY}}
      DEPLOYMENT: ${{vars.DEPLOYMENT}}
      DEPLOYMENT_KEY: ${{secrets.DEPLOYMENT_KEY}}
    steps:
      - uses: actions/checkout@main
      - uses: davidkhala/uv-buildpack@main
        with:
          working-directory: py
          test-entry-point: pytest azure_test.py
          tests: py/tests
          extras: azure
  langgraph:
    runs-on: ubuntu-latest
    environment: openrouter
    env:
      API_KEY: ${{secrets.API_KEY}}
    steps:
      - uses: actions/checkout@main
      - uses: davidkhala/uv-buildpack@main
        with:
          working-directory: py
          test-entry-point: pytest langchain_test.py
          tests: py/tests
          extras: langchain
          version: 3.13
  alicloud:
    runs-on: ubuntu-latest
    environment: alicloud
    env:
      API_KEY: ${{secrets.API_KEY}}
    steps:
      - uses: actions/checkout@main
      - uses: davidkhala/uv-buildpack@main
        with:
          working-directory: py
          test-entry-point: pytest ali_test.py
          tests: py/tests
          extras: ali